html {
	text-align: center;
	font-family: Helvetica;
}

h1 {
	font-size: 70px;
	font-weight: bold;
	color: white;
}

h2 {
	font-size: 32px;
	font-weight: bold;
}

h3 {
	font-size: 23px;
	font-weight: bold;
}

h4 {
	font-size: 23px;
	font-weight: bold;
	color: white;
}

p {
	font-size: 14px;
}

ul {
	list-style-type: none;
}

li {
	margin-bottom: 1%;
}

a {
	font-size: 18px;
	color: white;
}

.flat-iron-background {
	background-image: url("../images/the-flatiron-building.png");
	width: auto;
	height: auto;
}

.footer {
	text-align: left;
	font-size: 11px;
	color: white;
	background-color: dimgray;
}

.footer a {
	text-align: left;
	font-size: 11px;
	color: white;
	background-color: dimgray;
}

